<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="login_register.css">
<body>
    <div class="loginbox">
        <img src="cool-picture-for-profile.png" class="avatar">
        <h1>Login Here</h1>
        <form action="http://localhost:63342/colorful_dice/templates/home_page.html?_ijt=mic8tmak2knm08romltvdec2s4&_ij_reload=RELOAD_ON_SAVE">

            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <input type="submit" value="Login">

        </form>
    </div>
</body>
</head>
</html>