<html>
<head>
    <title>Register Form</title>
    <link rel="stylesheet" type="text/css" href="login_register.css">
<body>

    <div class="registerbox">
        <img src="cool-picture-for-profile.png" class="avatar">
        <h1>Register Here</h1>
        <form action="http://localhost:63342/colorful_dice/templates/login_register_form/login.html?">
            <p>User id</p>
            <input type="text" name="" placeholder="Enter User Id">
            <p>Email id</p>
            <input type="email" name="" placeholder="Enter Email">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <input type="submit" name="" value="Register">
        </form>
    </div>

</body>
</head>
</html>